{% extends 'base.html' %}
{% load static %}


{% block body %}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img style="height: 450px; width: 450px;" src="/static/assets/img/team/about-us.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <!-- <h3>About Us</h3>   -->
            <!-- <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check2-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul> -->
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident placeat ipsa dignissimos, pariatur aspernatur dolores officiis nemo eum? Vero quibusdam cumque voluptatum beatae perferendis laborum tenetur nisi? Deserunt sit molestias adipisci cupiditate perspiciatis ipsum aliquid, totam non cum ullam nam id eaque esse commodi. Temporibus nostrum veniam illum accusamus. Consequuntur, odit culpa itaque, aliquid tempore officiis id quisquam magnam facilis accusamus dolor nulla pariatur provident non modi tenetur, sequi voluptatem doloremque illum? Esse fugit voluptatibus, suscipit corrupti aliquam veniam cum commodi nesciunt ipsum tempore laudantium maxime placeat corporis odit in quibusdam soluta, labore neque, magnam iste iure magni illo ad.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Members</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

  </main>

{% endblock %}