{% extends 'base.html' %}
{% load static %}


{% block body %}

<main id="main">

  <!-- ======= Contact Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Events</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Events</li>
        </ol>
      </div>

    </div>
  </section><!-- End Contact Section -->




</main>

   

             

<div style="padding-top: 350px; padding-bottom:150px; " ><!-- ======= Service Details Section ======= -->
    
    <section class="service-details" >
        
      <div class="container">
        
        <div style="padding-left: -20px;" class="row">
            <h1>OUR EVENTS</h1>
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card">
              <div class="card-img">
                <img src="/static/assets/img/service-details-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="#">Our Mission</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
         
          
        </div>

      </div>
    </section><!-- End Service Details Section -->
</div>
    

  </main><!-- End #main -->

  {% endblock %}