{% extends 'base.html' %}

{% block body %}

  
    <div style="padding-top:150px; padding-bottom: 150px;" >
    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000">
      <div class="container">

        <div class="row">

         
          <div class="col-lg-3 col-md-3 ">
            <div class="member">
              <div class="member-img" style="height:240px; width:240px;" >
                <img src="/static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social" style="padding-top:0px;" >
                 
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info" style="text-align:center" >
                <h4>Walter White</h4>
                <span style="color: #444444;" >Chief Executive Officer</span>
                </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 ">
            <div class="member">
              <div class="member-img" style="height:240px; width:240px;" >
                <img src="/static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social" style="padding-top:0px;" >
                 
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info" style="text-align:center" >
                <h4>Walter White</h4>
                <span style="color: #444444;" >Chief Executive Officer</span>
                </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="member">
              <div class="member-img" style="height:240px; width:240px;" >
                <img src="/static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social" style="padding-top:0px;" >
                 
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info" style="text-align:center" >
                <h4>Walter White</h4>
                <span style="color: #444444;" >Chief Executive Officer</span>
                </div>
            </div>
          </div>
          
          
        
        </div>

      </div>
    </section><!-- End Team Section -->
</div>
  </main><!-- End #main -->

  {% endblock %}